.header_link {
  color: var(--gray);
  transition: color 0.2s ease-in-out;
}
.header_link:hover {
  color: var(--white);
}

.header {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: var(--background);
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--gray-op);
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit;
}

.logo_img {
  aspect-ratio: 1;
  width: 1.5rem;
}

.logo_name {
  font-weight: 700;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.header_nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.header_nav a::before {
  content: "$";
  color: var(--primary);
  font-weight: normal;
}

.header_nav a.active {
  color: var(--white);
  font-weight: 700;
}

.locale {
  position: relative;
  top: 1.5px;
  width: 2rem;
  border: none;
  cursor: pointer;
  color: var(--gray);
  background-color: inherit;
}
.locale:hover {
  color: var(--white);
}
